@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: gilroy;
  src: url('./src/Gilroy-Regular.ttf');
}


@layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(75, 100, 142);
  }
  
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    scrollbar-color: rgb(75, 100, 142);
    background:#1e293b;

  }
  
  *::-webkit-scrollbar-track {
    background:#1e293b;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 14px;
    height: 8px;
    background-color:#475569 ;
  
  }
  
  .tags-wrapper::-webkit-scrollbar {
    overflow: hidden;
  }